{% extends 'captions/base.html' %}
{% block content %}
<div class="card p-5">
  <h3>About This Project</h3>
  <p>
    This Image Caption Generator is built using a <b>VisionEncoderDecoder (ViT + GPT-2)</b> model
    to automatically describe images in natural language. It integrates:
  </p>
  <ul>
    <li><b>Computer Vision</b> for feature extraction</li>
    <li><b>Natural Language Generation</b> for sentence formation</li>
    <li><b>Multilingual Translation</b> using transformers</li>
    <li><b>Text-to-Speech</b> synthesis for audio captions</li>
  </ul>
  <p>
    This project demonstrates advanced understanding of <b>Deep Learning pipelines</b>, <b>model deployment</b>, 
    and <b>AI-driven user interfaces</b> using Django.
  </p>
</div>
{% endblock %}
